:root {
  --color-white: #FFFFFF;
  --color-black: #4a4a4a;
  --color-error: #FF3945;
  --color-warning: #FFA500;

  --color-text: var(--color-black);
  --foreground: #FF9900;
  --background: #F9F9F9;
  
}

html {
  -moz-osx-font-smoothing     : grayscale;
  -webkit-font-smoothing      : antialiased;
  -webkit-tap-highlight-color : transparent;
  box-sizing: border-box;
  /* This variable is setup in the /app/layout.tsx file */
  font-family: var(--font-geist-sans);
  font-size: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  width: 100vw;
  width: 100dvw;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

html, body,
nav, header, main, footer,
section, aside, article, div,
img, caption, picture, figure, figcaption, video, audio, progress,
h1, h2, h3, h4, h5, h6, hgroup
p, span, small, strong,
ol, ul, li,
dl, dt, dd,
blockquote,
form, fieldset, legend, label,
table, tbody, tfoot, thead, tr, th, td,
pre, abbr, address, cite, summary, code,
del, dfn, em, ins, kbd, q, samp, sub, sup, var, time, mark {
  background: transparent;
  border: 0;
  direction: ltr;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
  scroll-behavior: smooth;
}

html,
body {
  font-size: 3.8461538461538463vw;
}

@media (min-width: 603px) {
  html,
  body {
    font-size: 2.487562189054726vw;
  }
}

@media (min-width: 768px) {
  html,
  body {
    font-size: 1.25vw;
  }
}

@media (min-width: 1800px) {
  html,
  body {
    font-size: 18px;
  }
}


body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

body > main {
  flex-grow: 2;
}

article,
aside,
details,
picture,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


button {
  appearance: none;
  border: 0;
  font-family: inherit;
  padding: 0;
}

button,
a {
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  outline: 0;
}

a {
  text-decoration: none;
}

a:active,
a:hover,
a:focus,
button:active,
button:hover,
button:focus {
  outline: 0;
}

p,
span,
small,
strong {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}


[hidden] {
  display: none;
}

li {
  list-style-type: none;
}

img {
  -ms-interpolation-mode: bicubic;
  display: block;
  height: auto;
  object-fit: cover;
  transform: translate3d(0, 0, 0);
  width: 100%;
}

figure,
figure img {
  margin: 0;
}

input:active,
textarea:active,
input:focus,
textarea:focus,
input:hover,
textarea:hover {
  outline: 0;
}

input {
  background-color: inherit;
  border: 0;
  border-radius: 0;
  caret-color: inherit;
  cursor: pointer;
  margin-bottom: 0;
}


input::-webkit-caps-lock-indicator,
input::-webkit-credentials-auto-fill-button,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button {
  display: none;
  position: absolute;
  right: 0;
  visibility: hidden;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input:-webkit-autofill {
  content: '\feff';
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
  font-weight: 600;
}

p {
  color: inherit;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

small {
  font-size: 12px;
}

ol,
ul,
dl,
dd,
address {
  margin-bottom : 0;
}

address {
  font-style: normal;
}

dl {
  outline: 0;
}

blockquote  {
  border-left: 10px solid var(--color-text);
  font-style: normal;
  margin: 0;
  padding: 0 15px;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted var(--color-text);
}

b,
strong {
  font-weight : bold;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

sup {
  right: .2em;
  top: .2em;
}

sub {
  bottom: -.25em;
}


.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: calc(100vh - 60px);
  justify-content: center;
  align-items: center;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.main h1 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
